{% if client_id %}
  <div id="paypal-button-container"></div>
  <div id="paypal-message" class="mt-2"></div>
  <script src="https://www.paypal.com/sdk/js?client-id={{ client_id|url_encode }}&currency={{ currency|url_encode }}&intent={{ intent|url_encode }}" data-sdk-integration-source="shoplovanest-opencart"></script>
  <script>
    (function() {
      function showPayPalError(message) {
        document.querySelector('#paypal-message').innerHTML = '<div class="alert alert-danger alert-dismissible"><i class="fa-solid fa-circle-exclamation"></i> ' + message + ' <button type="button" class="btn-close" data-bs-dismiss="alert"></button></div>';
      }

      if (typeof paypal === 'undefined') {
        showPayPalError('Unable to load PayPal. Please refresh and try again.');
        return;
      }

      paypal.Buttons({
        createOrder: function() {
          return fetch('{{ create_url }}', {
            method: 'post',
            headers: {'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'}
          }).then(function(response) {
            return response.json();
          }).then(function(json) {
            if (json.error) {
              showPayPalError(json.error);
              throw new Error(json.error);
            }

            return json.id;
          });
        },
        onApprove: function(data) {
          return fetch('{{ capture_url }}', {
            method: 'post',
            headers: {'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'},
            body: 'order_id=' + encodeURIComponent(data.orderID)
          }).then(function(response) {
            return response.json();
          }).then(function(json) {
            if (json.error) {
              showPayPalError(json.error);
              return;
            }

            if (json.redirect) {
              window.location = json.redirect;
            }
          });
        },
        onError: function(err) {
          showPayPalError(err && err.message ? err.message : 'PayPal checkout failed.');
        }
      }).render('#paypal-button-container');
    })();
  </script>
{% else %}
  <div class="alert alert-danger">{{ error_credentials }}</div>
{% endif %}
