<footer class="footer mt-auto py-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-4"><h5>{{ text_information }}</h5><p class="mb-0">Demo OpenCart store for testing products, cart and checkout flow.</p></div>
      <div class="col-md-4"><h5>{{ text_service }}</h5><ul class="list-unstyled"><li><a href="{{ contact }}">{{ text_contact }}</a></li><li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li></ul></div>
      <div class="col-md-4"><h5>{{ text_account }}</h5><ul class="list-unstyled"><li><a href="{{ account }}">{{ text_account }}</a></li><li><a href="{{ order }}">{{ text_order }}</a></li><li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li></ul></div>
    </div>
    <hr class="border-secondary"><div class="small">{{ powered }}</div>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
